/* Font imports from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.logo {

    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    font-weight: 400;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
li {
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #fafafa;
    color: black;
}
.nav-links a {
    color: #fff;
}
.menu {
    display: flex;
    gap: 1em; /*sets gutters between rows and columns*/ 
    font-size: 20px;
    justify-content: space-around;
}
.menu li {
    
    padding: 5px 14px;
}
.active, .navbar {
    color: #0F298B;
    font-weight: bold;
}
.navbar .button {
    background-color:#2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    margin: 4px 2px;
}
.navbar .button:hover {
    box-shadow: 0 5px 15px #0F298B;
}
/* For responsive navigation barr */
input[type=checkbox]{
    display: none;
}
.hamburger {
    display: none;
    font-size: 20px;
    user-select: none;
}
/* Media device Query */
@media (max-width: 768px) {
    .menu { 
     display:none;
     position: absolute;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger {
        display: block;
    }
}
/* Body */
.heading {
    border-top: 15px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.h1, .heading {
    font-size: 30px;
    color: #0F298B;
    font-weight: 400;
}
#heading3{
    font-size: 30px;
    color: black;
    font-weight: 400;
}

.button {
    background-color:#2549D3;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    margin: 4px 30px;
}
.container {
    display: flex;
    margin-top: 4%;
    margin-right: 0;
    padding-left: 12%;
    padding-right: 10%;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container1 {
    width: 90%;
    margin-right:10%;
    margin-left: 10%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 820px) {
      flex-direction: column;
    }
  }
  
    .header {
        align-items:baseline;
    }
    .header h1 {
      font-weight: 700;
      line-height: 1.3;
      padding: 40px 20px 0 20px;
      color: #0F298B;
      
    }
    .header p{
    font-size: x-large;
    color: black;
    font-weight: 200px
    }
  

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-right: 10%;
  }
  
  .card {
    width: 30%;
    margin: 1%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  }
  .card:hover {
      transform: scale(1.05);
    }
    @media screen and (max-width: 1240px) {
      width: 48%;
    }
    @media screen and (max-width: 820px) {
      width: 98%;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    .card h3 {
      text-transform: camelcase;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      margin-bottom: 60px;
      text-align: center;
      font-weight:200;
    }
  .card-main {
    background: #fafafa;
    color: black;
  }
  /* Footer */
  footer {
    padding-top: 5%;
    background-color: #0F298B;
    color: #fafafa;
    font-size: 20px;
  }
  footer * {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  .footer h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #fafafa;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: left;
    line-height: 2;
    margin: 0;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #fafafa;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #fafafa;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }
  /* Gallery Section */
  div.gallery {
    margin: 5px;
    border: 1px;
    float: left;
    width: auto;
    height: fit-content;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.description {
    padding: 15px;
    text-align: left;
  }
  .description .lst {
    color: #0F298B;
  }
  .g-container {
    display: flex;
    margin-top: 4%;
    margin-right: 0;
    padding-left: 12%;
    padding-right: 10%;
}
/* Testimonials */
